@{
    ViewBag.Title = "About";
}

<h2>About</h2>


 <table> 
    
    <thead class="tableK">
        <tr>
            <td colspan="2">Daten über uns</td>
        </tr>
    </thead>

    <tbody class="tableK">
        <tr>
            <td>Vorname:</td>
            <td>Marcel</td>
        </tr>

        <tr>
            <td>Nachname:  </td>
            <td>Penz</td>
        </tr>

        <tr>
            <td>EMail:</td>
            <td>marcelpenz.at</td>
        </tr>

        <tr>
            <td>Adresse:</td>
            <td>Campingplatz 12 </td>
        </tr>
    </tbody>

    <tfoot>
        <tr></tr>
    </tfoot>

    </table>

