
@{
    ViewBag.Title = "Index";
}

<h2>Registrierte Benutzer</h2>

@if ((Session["isAdmin"] != null) && (Convert.ToInt32(Session["isAdmin"]) == 0))
{
<li class="nav_level2">@Html.ActionLink("registrierte Benutzer", "index", "benutzerverwaltung")</li>
}